.home-page{
    background-image: url("../imagenes/cards.jpg");
    background-repeat: no-repeat;

  
    background-size: cover;
  
    background-color: rgb(89, 32, 222);


    display: flex;
    flex-direction:column;
    text-align: center;
   
}

.titulo-home{
    padding: 10px;
    background-color: rgba(8, 10, 68, 0.847);
    border: 1px solid red;
    border-radius:10px
}



